<nav class="section-nav">

  <a class="section-link" href="/inbox/">
    <span class="section-number">01</span>
    <span>Inbox</span>
  </a>

  <a class="section-link" href="/projects/">
    <span class="section-number">02</span>
    <span>Projects</span>
  </a>

  <a class="section-link" href="/areas/">
    <span class="section-number">03</span>
    <span>Areas</span>
  </a>

  <a class="section-link" href="/resources/">
    <span class="section-number">04</span>
    <span>Resources</span>
  </a>

  <a class="section-link" href="/archives/">
    <span class="section-number">05</span>
    <span>Archives</span>
  </a>

  <div class="section-nav-divider"></div>

    <span class="section-number">#</span>
    <span>Tags</span>
  </a>

</nav>
